body{
	background-image: url(images/nepal3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h6{
	color: #fff !important;
	
	text-align: left;
	text-transform: uppercase;
	padding-left: 5px;
}


p{
	color: #fff !important;
	margin-top: 150px !important;
	text-align: center;
	font-family: 'Carter One', cursive;
	font-size: 60px;

}
