body{
	background-image: url(images/nepal.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.login-box{
	max-width: 700px;
	float: none;
	margin: 100px auto;
}

.login-left{
	background: rgba(211, 211, 211, 0.5);
	padding: 30px;
}

.login-right{
	background: #fff;
	padding: 30px;
}
